*{
  font-family: 'Poppins', Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

header{
  width: clamp(300px, 100%);
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}
nav{
flex: 2;
}
nav ul{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
nav ul li a{
  color: black;
  text-decoration: none;
  transition: color 0.3s ease;
  font-size: 1rem;
  font-weight: 600;
}
nav ul li a:hover{
  color: orangered;
}
.logo-container{
  flex: 1;
  display: flex;
  padding: 0.5rem;
  cursor: pointer;
}
.logo-container a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  flex: 1;
}

.logo{
  width: clamp(80px, 10vw, 100px);
  margin-left: 20px;
  aspect-ratio: 3/2;
  object-fit: contain;
}

.section1{
  padding-top: 50px;
  display:flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 50px;

}
.section2 {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: row;
  padding: 50px;
  gap: 40px;
  position: relative;
  overflow-x: scroll; /* Allow horizontal scrolling */
  margin-bottom: 3rem;
  
  /* Hide scrollbar for Chrome, Safari, and Opera */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.section2::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari, and Opera */
}

.card1{
  flex: 1 1 calc(33.333% - 20px); /* 3 cards in a row with space between */
  max-width: 300px;
  min-width: 250px;
  position: relative;
}
.card1 > img{
  width: 100%;
  border-radius: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  -ms-border-radius: 9px;
  -o-border-radius: 9px;
}
.tag{
  position: absolute;
  width: auto;
  padding: 7px;
  top: 10px;
  left: 10px;
  border-radius: 5px;
  background-color: white;
  color: black;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.icon-list{
  display: flex;
  gap: 2px;
  padding:10px;
  
}
.icon-list >span{
  display: inline-block;
  color: gray;
}
.card-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}
.card-content > h4{
  font-size: 1rem;
  font-weight: 300;
}
.hero-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  justify-content: center;
  flex: 1 1 320px; 
}
.hero-image{
  flex: 1 1 320px;  display:flex;
  flex-wrap: wrap;

}
.hero-image img{
  width: 100%; 
  object-fit: contain;

  height: auto;
}
.hero-content > h1{
  font-size: 2.6rem;
}
.hero-content > p{
  font-size: 1rem;
  margin: 0;
  font-weight: 300;
  letter-spacing: 1px;
}


/* Meme Generator Styles */

.meme-generator{
  padding: 2rem;
}
.meme-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 10px;
}
@media only screen and (max-width: 340px) {
.meme-form{
  grid-template-columns: 1fr;
  padding: 1rem;
}
}

.meme-form label {
  display: flex;
  flex-direction: column; 
  font-weight: bold;
  font-size: 1rem;

}

.meme-form input {
  padding: 20px;
  border: 1px solid #ccc;
  text-indent: 5px;
  border-radius: 5px;
  margin-top: 5px;
  width: 100%;
}


.meme-form button {
  grid-column: 1 / -1; /* Span the button across both columns */
  padding: 10px 20px;
  font-size: 1rem;
  background: linear-gradient(90.41deg, #711F8D 1.14%, #A818DA 100%);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;

}

.meme-form button:hover {
  background: linear-gradient(180.41deg, #711F8D 1.14%, #A818DA 100%);
}

.meme-box{
  width: 100%;
  max-width: 600px;
  position: relative;
  margin: 1.2rem auto;
}
.meme-box img{
object-fit: cover;
aspect-ratio: auto;
width: 100%;
height: 100%
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow:
      2px 2px 0 #000,
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      0 2px 0 #000,
      2px 0 0 #000,
      0 -2px 0 #000,
      -2px 0 0 #000,
      2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}